body {
    background-color: #212529;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(248, 249, 250) !important;
    text-decoration: none !important;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    background-color: rgb(248, 249, 250) !important;
    color: rgb(0, 0, 0) !important;
    text-decoration: none !important;
}